# Ignore Python cache and virtual environments
__pycache__/
*.pyc
.venv/
env/
venv/

# Ignore Jupyter auto-saves
.ipynb_checkpoints/

# Ignore system files
.DS_Store

# Ignore course data
hw_registration/data/